
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
 
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
 
input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 
input[type="submit"], .btn {
    width: 80%; 
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
    display: block;
    align-self: center;
    justify-self: center;
    
    
}
 
.btn {
    background-color: #ffcc00;
}
 
.btn:hover {
    background-color: #cc9900; /* Or foncé */
}

input[type="submit"][value="Registrieren"] {
    background-color: #ff0000; /* Rouge */
}

input[type="submit"][value="Registrieren"]:hover {
    background-color: #550202; /* Rouge */
}
 

.hiddenEl{
    display: none;
}

#restrictpara{
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    background-color: white;
    max-width: 250px;
    top: 45vh;
}

a{
    text-decoration: none;
   
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    
}